@tailwind base;
@tailwind components;
@tailwind utilities;




.root 
{
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
  }

h3 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.chem
{
  font-family: "PT Sans Narrow", serif;
  font-weight: 700;
}

.lab h1  {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

footer .par 
  {
    font-family: "PT Sans Narrow", sans-serif;
    font-style: normal;

  }

ul 
  {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
  }

.btn  
{
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-weight: 300;

}  

.chemxpert 
{ 
  font-family: "PT Sans Narrow", serif;

}

  